html {
    position: relative;
    min-height: 100%;
    background-color: #222222;
    overflow-x: hidden;
}

body{
    font-family: 'Roboto', sans-serif; !important;
    font-weight: 300;
}

#item1{
    padding-left: 260px
}

#item1-inner{
    margin-left: 160px
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: #555;
    left: 0;
}

.navbar{
    min-height: 100px;
}

.navbar-brand{
    padding-top: 40px;
    padding-left: 120px;
    font-size: 36px;
}

.nav a{
    font-size: 25px;
}

.navbar-nav>li>a{
    padding-top: 50px;
}

.navbar-nav>li>a :last-child{
    padding-right: 120px;
}

#home-button a:hover {
    color: #999;
}

#mainnav li{
    display: inline-block;
    margin-left: 10px;
    font-size: 22px;
    margin-top: 13px;
}

#mainnav li a {
    text-decoration: none;
    color: #333;
}

#mainnav li a:hover {
    color: #999;
}

#list ul{
    display: inline-block;
}

#list ul li {
    font-size: 25px;
    font-weight: 300;
    color: #cccccc;
}

#home1{
    height: 180px
}

#about-inner{
    height: 300px;
    padding-left: 250px;
    width: 80%;
}

#about-inner p{
    padding-left: 50px;
}

#contact{
    height: 900px;
    background-color: #222222;
}

#services-img1{
    height: 550px;
}

#services-img2{
    height: 550px;
}

#services-img3{
    height: 550px;
}

#list{
    padding-left: 250px
}

div.container {
    padding-top: 100px;
}

section.module:last-child {
    margin-bottom: 0;
}

section.module h2 {
    margin-bottom: 25px;
    font-size: 40px;
    color: #cccccc;
}

section.module p {
    margin-bottom: 45px;
    font-size: 20px;
    font-weight: 300;
    color: #cccccc;
}

section.module p:last-child {
    margin-bottom: 0;
}

section.module.content {
    padding-bottom:  40px;
    padding-top: 20px;
    background: #222;
    height: 450px;
}

section#contact h1{
        padding-left: 200px;
        padding-top: 80px;
        color: #dfdfdf;
        font-size: 45px
    }

#about-img{
    width: 100%;
    height: 550px;
    padding-top: 40px;
}

@media all and (max-width: 1440px) {
    html{
        overflow: visible;
    }

    #item1{
        padding-left: 260px;
    }

    #item1-inner{
        margin-left: 100px;
    }

    section.module h2 {
        font-size: 24px;
    }

    #list{
        padding-left: 190px;
    }


    #list ul li {
        font-size: 20px;
    }

    section.module p {
        font-size: 17px;
    }

    div.container {
        padding-top: 50px
    }

    section.module.content {
        padding-bottom: 20px;
        height: 250px;
    }

    #contact{
        height: 500px;
        padding-top: 0;
    }

    #img1{
        height: 470px;
        width: 100%;
    }

    #home1{
        height: 80px
    }

    #logo{
        font-size: 30px;
    }

    #services-img1{
        height: 350px;
    }

    #services-img2{
        height: 350px;
    }

    #services-img3{
        height: 350px;
    }
    #about-img{
        height: 400px;
        padding-top: 57px;
    }

    #about-inner{
        padding-left: 100px;
    }

    section#contact > h1{
        padding-left: 120px;
        padding-top: 50px;
        color: #dfdfdf;
        font-size: 35px
    }

    .navbar-brand{
        font-size: 30px;
    }

    .nav a{
        font-size: 20px;
    }
}

@media all and (max-width: 1024px){
    html{
        overflow: visible;
    }

    #list{
        padding-left: 150px;
    }

    #about-inner{
        padding-left: 10px;
    }

    section.module.content {
        padding-bottom: 20px;
        height: 240px;
    }

    #about-img{
        width: 100%;
        height: 350px;
        padding-top: 65px
    }

    #img1{
        height: 470px;
    }

    #item1{
        padding-left: 70px;
    }

    section#contact > h1{
        padding-left: 120px;
        padding-top: 0;
        color: #dfdfdf;
        font-size: 35px
    }

    div.container {
        padding-top: 50px;
        padding-left: 150px;
    }

    #contact{
        height: 450px;
        padding-top: 0;
    }

    #services-img1{
        height: 250px;
    }

    #services-img2{
        height: 250px;
    }

    #services-img3{
        height: 250px;
    }

    #list ul li {
        font-size: 16px;
    }
}

/* iPad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #list{
        padding-left: 50px;
    }

    #list ul li{
        font-size: 14px;
    }

    .list{
        float: left;
        padding-left: 20px;
        padding-right: 30px;
    }

    #item1{
        padding-left: 15px;
    }

    section.module h2{
        font-size: 20px;
    }

    section.module p{
        padding-left: 20px;
        font-size: 14px;
    }

    .navbar-brand{
        padding-left: 20px;
    }
}
